body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #363636;
    color: lightgray;
}

.container {
    width: 50.5rem;
    margin-left: auto;
    margin-right: auto;
    background: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
}

header div {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

header div:hover {
    background: lightgray;
    color: black;
}

.card-caption {
    background: brown;
    margin: 0;
    padding-left: 0.5rem;
    font-weight: lighter;
}

.name {
    font-size: 3rem;
    margin: 1rem 0.5rem;
    font-weight: 400;
}

/* MOVIE CARD */

.rating {
    margin-right: 2rem;
}

.movie-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 19rem;
}

.description {
    margin: 0.5rem;
}

.description .extra-info {
    margin: 0.5rem 0;
}

.description .extra-info .desc{
    font-weight: bold;
}

.description > p:first-of-type {
    margin: 0 0 3rem 0;
}

.poster {
    width: 12rem;
    height: fit-content;
    margin: 0.5rem;
}

.next-random-movie {
    width: 12rem;
    background: black;
    color: lightgray;
    border: none;
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 0.5rem auto 0 auto;
    display: block;
    cursor: pointer;
}

.next-random-movie:hover {
    background: lightgray;
    color: black;
}

/* MOVIES LIST */

.pagination {
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
}

.pagination button {
    background: black;
    color: lightgray;
    border: none;
    float: left;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

.pagination button:hover:not(.active) {
    background-color: #b1b1b1;
    cursor: pointer;
}

.pagination .active {
    background: lightgray;
    color: black;
}

.movies-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 0 0.5rem;
}

.movie-list-item {
    width: 12rem;
}

.movie-list-item:not(:last-child) {
    margin-right: 0.5rem;
}

.movie-list-poster {
    width: 12rem;
    margin: 0.5rem 0 0 0;
    cursor: pointer;
}

.movie-list-info {
    display: flex;
    flex-direction: row;
    margin: 0 0.5rem
}

.movie-list-info > div {
    margin-left: 0.5rem;
}

.movie-list-info p {
    margin: 0.5rem 0 0;
}

.movie-list-rating {
    font-size: 3rem;
}

.movie-list-desc {
    margin-top: 0.3rem;
}

.movie-list-desc > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 7rem;
    font-size: 0.8rem;
}

/* OTHER */

.loader {
    width: fit-content;
    margin: 200px auto 0 auto;
    padding-bottom: 200px;
}